/* Global */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #dcdcdc;
    margin: 0;
    padding: 0;
}

/* Layout */
main {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

section {
    width: 30%;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

h2, h3, h4 {
    text-transform: uppercase;
}

/* Imagens dos Discos */
.discos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.disco {
    margin: 10px;
}

.disco img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 2px solid #9b59b6;
    border-radius: 10px;
}

/* Imagens de Pessoas */
.chester, .emily {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border: 2px solid #9b59b6;
    margin-top: 20px;
    border-radius: 10px;
}

/* Texto */
.about-content p {
    font-size: 16px;
    line-height: 1.5;
}

/* Responsive */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 80%;
        margin: 10px 0;
    }

    .discos {
        flex-direction: column;
        align-items: center;
    }

    .disco img {
        width: 150px;
        height: 150px;
    }

    .chester, .emily {
        width: 200px;
        height: 250px;
    }
}
